

.carte-gdt {
  display: flex;

  margin: 100px auto;

  min-height: 300px;
  min-width: 500px;
  max-width: 600px;

  padding: 0%;
}

app-taches{
  width: 100%;

  background-color: rgba(211, 211, 211, 0.123);

}

.bienvenue{
  margin: auto;
  align-self: center;
}