<div class="taches-container">

  <div class="text-container">
    <div class="titre-container">
      <h2>Taches</h2>
      <mat-icon [matMenuTriggerFor]="menu">settings</mat-icon>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>EDIT LISTE</span>
        </button>
        <button class="delete" mat-menu-item
                (click)="deleteListe()" >
          <span>DELETE LISTE</span>
        </button>
      </mat-menu>

    </div>

    <ng-container *ngIf="(taches$|async) as taches" >

      <div id="tache-container" *ngFor="let tache of taches" onclick="this.classList.toggle('test')" >
        <a class="tache"> {{tache.contenu}} </a>
        <div class="tache-actions">
          <mat-icon >edit</mat-icon>
          <mat-icon class="delete">delete_forever</mat-icon>
        </div>
      </div>

    </ng-container>

  </div>
  <button mat-mini-fab (click)="openDialog()" >
    <mat-icon class="normal">
      add
    </mat-icon>
  </button>

</div>
