.taches-container{

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  padding: 20px;

    button{
      margin-left: auto;
      font-size: 5px;
    }
}

.titre-container{
  display: flex;

  align-items: center;
  justify-content:space-between;

  margin-bottom: 16px;

    h2{
      margin: 0%;
    }

    button{
      width: fit-content;
    }
}

mat-icon{
  margin: auto 2px !important;
  font-size: small;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid lightgray;
  border-radius: 3px;

  &:hover{
    background-color: rgba(211, 211, 211, 0.24);
    cursor: pointer;
  }
}

.tache{
  display: block;

}

#tache-container{
  display: flex;
  background-color: white;
  border-radius: 3px;

  justify-content: space-between;
  align-items: center;

  padding: 5px 10px;

  &:hover{
    -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.164);
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.219);

    cursor: pointer;
  }
}

.tache-btn{
  padding: 0%;
}

.tache-actions{

  display: flex;

}

.delete{
  background-color: red;
  color: white;

  &:hover{
    background-color: white;
    color: red;
  }
}

.normal{
  font-size: x-large;
}