.taches-container{

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  padding: 20px;

    button{
      margin-left: auto;
      font-size: 5px;
    }
}

.titre-container{
  display: flex;

  align-items: center;
  justify-content:space-between;

  margin-bottom: 16px;

    h2{
      margin: 0%;
    }

    button{
      width: fit-content;

      mat-icon{
        margin: auto;
        font-size: small;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid black;
        border-radius: 3px;
        background-color: white;

        &:hover{
          background-color: rgba(211, 211, 211, 0.24);
        }
      }
    }
}