<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>

      <mat-nav-list (click)="sidenav.close()">

          <a mat-list-item routerLink="/">
              <mat-icon>assignment</mat-icon>
              <span>Gestionnaire</span>
          </a>

          <a mat-list-item routerLink="/signup">
              <mat-icon>person_add</mat-icon>
              <span>Inscription</span>
          </a>

          <a mat-list-item routerLink="/connexion">
              <mat-icon>account_circle</mat-icon>
              <span>Connexion</span>
          </a>
          <a class="nav-link" mat-button routerLink="/connexion"
            >
            <mat-icon>exit_to_app</mat-icon>
            Déconnexion
          </a>

      </mat-nav-list>


  </mat-sidenav>

  <mat-toolbar>

    <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="navlinks-container">

      <a class="nav-link" mat-button routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>assignment</mat-icon>
      Gestionnaire
      </a>

      <a class="nav-link" mat-button routerLink="/signup"
        routerLinkActive="active">
        <mat-icon>person_add</mat-icon>
          Inscription
      </a>

      <a class="nav-link" mat-button routerLink="/connexion"
        routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
        Connexion
      </a>

      <a class="nav-link" mat-button routerLink="/connexion"
       >
        <mat-icon>exit_to_app</mat-icon>
        Déconnexion
      </a>

  </div>

</mat-toolbar>


<router-outlet></router-outlet>

</mat-sidenav-container>